.container {
	width: 100%;
	margin: 0;
	background-color: white;
}
.navigation-bar {
	background-color: rgba(62, 65, 64, 0.377);
	margin: 0;
}
.navigation-bar ul {
	text-align: right;
	margin: 0;
}
.navigation-bar li {
	display: inline;
	padding-right: 55px;
	word-spacing: 3px;
	font: 25px Shadows into light two;
	color: white;
}
a {
	display: inline-block;
	text-decoration: none;
	color: white;
}
hr {
	height: 5px;
	width: 150px;
	margin: 0;
	margin-left: 825px;
	background: rgb(255, 255, 255);
	border: none;
	transition: .2s ease-in-out;
}
a:hover {
	/*color: #a3a3c2;*/
	font-weight: bold;
}
.countries:hover~hr {
	margin-left: 1050px;
}
.bucketlist:hover~hr {
	margin-left: 1270px;
}
.video-background {
	position: relative;
	width: 100%;
	height: 94.8vh;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
.video-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.colour-overlay {
	position: absolute;
	top: 0;
	left: 0;
	background-color: white;
	opacity: 0.3;
	width: 100%;
	height: 94.8vh;
}
.video-background h1 {
	font-size: 4.5rem;
	font-family: Shadows into light two;
	font-weight: bold;
	color: white;
	text-shadow: 8px 4px rgba(179, 179, 179, 0.4);
	z-index: 1;
	padding: 10px;
	text-transform: uppercase;
	display: flex;
	white-space: nowrap;
	position: relative;
	border: none;
	overflow: hidden;
	margin: 0 auto;
	animation: typewriter 2500ms steps(20, end) 1 normal;
}
@keyframes typewriter {
	from {
		width: 0;
	}
	to {
		width: 60%;
	}
}
.blink {
	border-right: 4px solid white;
	position: relative;
	right: -10px;
	animation: blink-effect 1s steps(30, end) infinite;
}
@keyframes blink-effect {
	0% {
		border-right-color: 4px solid white;
	}
	100% {
		border-right-color: transparent;
	}
}

/* @media screen and (min-width: 320px) {
  .container {
    width: 100%;
  }
  hr {
    margin-left: 5px;
  }
  .video-background h1 {
    margin-top: -1300px;
  }
  .video-background {
    height: 1000px;
  }
}

@media screen and (max-width: 1440px) {
  .container {
    width: 100%;
  }
  hr {
    margin-left: 825px;
  }
  .video-background h1 {
    margin-top: 0;
  }
  .video-background {
    height: 94.8vh;
  }
} */

h2 {
	position: absolute;
	bottom: 530px;
	right: 430px;
	text-align: center;
	font: 34px shadows into light two;
	color: #666666;
	text-transform: uppercase;
	background-color: white;
}
p {
	margin-left: 35px;
	width: 55%;
	text-align: center;
	padding: 70px;
	font: 19px shadows into light two;
	color: #666666;
	border: 2px solid #cccccc;
	background-color: white;
}

.hidden {
  opacity: 0;
  margin-left: 800px;
  position: absolute;
  bottom: -200px;
}

.purpleText {
	color: #6600cc;
}
.section-container {
	position: relative;
	padding: 30px;
	overflow: hidden;
	margin-bottom: 200px;
}
section img {
	width: 100%;
}
.column-img {
	width: 22%;
	margin-left: 250px;
	margin-top: 200px;
	border: 3px solid #bfbfbf;
	padding: 6px;
	position: relative;
	background: white;
}
.column-text {
	width: 78%;
	margin-left: 480px;
	margin-top: -300px;
}
h3 {
	font: 44px shadows into light two;
	text-align: center;
	color: #737373;
	text-transform: uppercase;
	background-color: rgba(179, 179, 179, 0.4);
	padding-top: 30px;
	padding-bottom: 30px;
}
.images-left {
	position: absolute;
	opacity: 0.1;
	filter: blur(1px);
	width: 200px;
}
.middle-left {
	position: absolute;
	opacity: 0.1;
	filter: blur(1px);
	width: 200px;
}
.images-right {
	position: absolute;
	opacity: 0.1;
	filter: blur(1px);
	width: 200px;
}
.edge-right {
	position: absolute;
	opacity: 0.1;
	filter: blur(1px);
	width: 200px;
}
.middle-image {
	position: absolute;
	opacity: 0.1;
	filter: blur(1px);
	width: 580px;
}
.paris {
	margin-top: -21px;
	margin-left: 10px;
}
.changmai {
	margin-top: -800px;
	margin-left: 220px;
}
.seoul {
	margin-top: -10px;
	margin-left: 10px;
}
.sun {
	margin-top: -10px;
	margin-left: 10px;
}
.london {
	margin-top: -10px;
	margin-left: 10px;
}
.flowers {
	margin-top: 5px;
	margin-left: 10px;
	height: 234px;
}
.belfast {
	margin-top: -280px;
	margin-left: 220px;
}
.oxford {
	margin-top: -255px;
	margin-left: 220px;
}
.church {
	margin-top: 890px;
	margin-left: 220px;
}
.horse {
	margin-top: 5px;
	margin-left: 220px;
	height: 150px;
}
.adidas {
	margin-top: -5px;
	margin-left: 1020px;
}
.grad {
	margin-top: 5px;
	margin-left: 1020px;
}
.waterfall {
	margin-top: 5px;
	margin-left: 1020px;
}
.cook {
	margin-top: 5px;
	margin-left: 1020px;
}
.palace {
	margin-top: 5px;
	margin-left: 1020px;
	height: 221px;
}
.baguette {
	margin-top: -16px;
	margin-left: 1230px;
}
.molly {
	margin-top: 5px;
	margin-left: 1230px;
}
.fcity {
	margin-top: 5px;
	margin-left: 1230px;
}
.tree {
	margin-top: 5px;
	margin-left: 1230px;
}
.drink {
	margin-top: 5px;
	margin-left: 1230px;
	height: 232px;
}
.summer-palace {
	margin-top: -16px;
	margin-left: 430px;
}
.wall {
	margin-top: -160px;
	margin-left: 430px;
}
.wall2 {
	margin-top: 10px;
	margin-left: 430px;
}
.jelly {
	margin-top: 5px;
	margin-left: 430px;
	height: 161px;
}
.slider {
	max-width: 650px;
	border: 10px solid white;
	margin: 60px auto;
	position: relative;
	top: 70px;
	border: 3px solid #c2c2c2;
	padding: 5px;
}
.slider .slider-items .items img {
	display: block;
	max-width: 100%;
}
.slider .slider-items .items {
	display: none;
	position: relative;
}
.caption {
	position: absolute;
	width: 100%;
	font: 24px shadows into light two;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 5px 0px 5px 0px;
	margin: 0 auto;
  text-align: center;
  letter-spacing: 3px;
	bottom: 1px;
	line-height: 35px;
}
.slider .slider-items .items.active {
	display: block;
}
.leftButton {
	position: absolute;
	font: 40px arial;
	/* font-weight: bold; */
	color: white;
	bottom: 220px;
	left: 20px;
	background-color: rgba(0, 0, 0, 0.5);
	/* border-radius: 50%; */
	padding: 10px;
	line-height: 30px;
	cursor: pointer;
	transition: .0.5s ease-in-out;
}
.rightButton {
	position: absolute;
	font: 40px arial;
	/* font-weight: bold; */
	color: white;
	bottom: 220px;
	right: 20px;
	background-color: rgba(0, 0, 0, 0.5);
	/* border-radius: 50%; */
	padding: 10px;
	line-height: 30px;
	cursor: pointer;
	transition: .0.5s ease-in-out;
	/* animation-name: fade;
    animation-duration: 1s; */
}
.leftButton:hover {
	background-color: rgba(15, 235, 180, 0.658);
	box-shadow: 0px 0px 10px black;
}
.rightButton:hover {
	background-color: rgba(15, 235, 180, 0.658);
	box-shadow: 0px 0px 10px black;
}
.center {
	width: 60%;
	margin-left: 300px;
	margin-top: 70px;
	/* opacity: 0.5; */
}
.icons {
	width: 100%;
	z-index: 1;
	position: relative;
}
.icon-china {
	width: 12px;
	position: absolute;
	bottom: 345px;
	left: 990px;
	display: block;
}
.icon-china:hover {
	content: url("https://i.ibb.co/jJz6Mbn/IMG-9063.jpg");
	width: 200px;
}
.icon-spain {
	width: 12px;
	position: absolute;
	bottom: 335px;
	left: 690px;
}
.icon-spain:hover {
	content: url("https://i.ibb.co/thvWRcr/Screenshot-2019-12-29-at-20-50-17.png");
	width: 15%;
}
.icon-france {
	width: 12px;
	position: absolute;
	bottom: 345px;
	left: 710px;
}
.icon-france:hover {
	content: url("https://i.ibb.co/0yHW5YF/photo-06-09-2018-19-37-44.jpg");
	width: 15%;
}
.icon-germany {
	width: 12px;
	position: absolute;
	bottom: 355px;
	left: 720px;
}
.icon-germany:hover {
	content: url("https://i.ibb.co/4ZqkS73/Screenshot-2019-12-29-at-20-50-02.png");
	width: 15%;
}
.icon-poland {
	width: 12px;
	position: absolute;
	bottom: 360px;
	left: 730px;
}
.icon-poland:hover {
	content: url("https://i.ibb.co/TLdbbFQ/75398194-713553479126585-2217559196235202560-o.jpg");
	width: 15%;
}
.icon-italy {
	width: 12px;
	position: absolute;
	bottom: 333px;
	left: 738px;
}
.icon-italy:hover {
	content: url("https://i.ibb.co/QPNT4gF/img-6240.jpg");
	width: 15%;
}
.icon-sweden {
	width: 12px;
	position: absolute;
	bottom: 400px;
	left: 735px;
}
.icon-sweden:hover {
	content: url("https://i.ibb.co/jJz6Mbn/IMG-9063.jpg");
	width: 15%;
}
.icon-netherlands {
	width: 12px;
	position: absolute;
	bottom: 370px;
	left: 717px;
}
.icon-netherlands:hover {
	content: url("https://i.ibb.co/2vY7mSq/Screenshot-2019-12-29-at-20-49-10.png");
	width: 15%;
}
.icon-greece {
	width: 12px;
	position: absolute;
	bottom: 330px;
	left: 755px;
}
.icon-greece:hover {
	content: url("https://i.ibb.co/f2KKg21/Screenshot-2019-12-29-at-20-49-33.png");
	width: 15%;
}
.icon-belgium {
	width: 12px;
	position: absolute;
	bottom: 363px;
	left: 710px;
}
.icon-belgium:hover {
	content: url("https://i.ibb.co/7yxxsLz/Screenshot-2019-12-29-at-20-48-28.png");
	width: 15%;
}
.icon-denmark {
	width: 12px;
	position: absolute;
	bottom: 376px;
	left: 724px;
}
.icon-denmark:hover {
	content: url("https://i.ibb.co/8jpCJ3x/Screenshot-2019-12-29-at-20-49-22.png");
	width: 15%;
}
.icon-finland {
	width: 12px;
	position: absolute;
	bottom: 405px;
	left: 758px;
}
.icon-finland:hover {
	content: url("https://i.ibb.co/P5CDwHT/Screenshot-2019-12-29-at-20-47-38.png");
	width: 15%;
}
.icon-hungary {
	width: 12px;
	position: absolute;
	bottom: 347px;
	left: 730px;
}
.icon-hungary:hover {
	content: url("https://i.ibb.co/jGRQDKk/Screenshot-2019-12-29-at-20-46-45.png");
	width: 15%;
}
.icon-czech-republic {
	width: 12px;
	position: absolute;
	bottom: 345px;
	left: 720px;
}
.icon-czech-republic:hover {
	content: url("https://i.ibb.co/yPW61GZ/Screenshot-2019-12-29-at-20-47-16.png");
	width: 15%;
}
.icon-norway {
	width: 12px;
	position: absolute;
	bottom: 412px;
	left: 730px;
}
.icon-norway:hover {
	content: url("https://i.ibb.co/CndxHCK/67105219-634554613693139-4703368018120409088-o.jpg");
	/* border-radius: 50%; */
	width: 15%;
}
.icon-thailand {
	width: 12px;
	position: absolute;
	bottom: 322px;
	left: 987px;
}
.icon-thailand:hover {
	content: url("https://i.ibb.co/BGrC3GY/Screenshot-2019-12-29-at-20-48-49.png");
	width: 15%;
}
.icon-hong-kong {
	width: 12px;
	position: absolute;
	bottom: 335px;
	left: 980px;
}
.icon-hong-kong:hover {
	content: url("https://i.ibb.co/2dkQftQ/Screenshot-2019-12-29-at-20-50-25.png");
	width: 15%;
}
.icon-korea {
	width: 12px;
	position: absolute;
	bottom: 325px;
	left: 992px;
}
.icon-korea:hover {
	content: url("https://i.ibb.co/PWHX9nt/Screenshot-2019-12-29-at-20-48-04.png");
	width: 15%;
}
/* .transition-effect {
      animation-name: fade;
      animation-duration: 1s;
  }

  @keyframes fade {
      from {
          opacity: 0.5;
      }
      to {
          opacity: 1;
      }
  } */

.bucketlist-container {
  background-color: white;
  padding-bottom: 200px;
}
h4 {
	font: 44px shadows into light two;
	text-align: center;
	color: #737373;
	text-transform: uppercase;
	background-color: rgba(179, 179, 179, 0.4);
	padding-top: 30px;
	padding-bottom: 30px;
	position: relative;
}

.p2 {
  margin-left: 250px;
  margin-top: 150px;
}

.list {
  margin-top: -410px;
  font: 19px shadows into light two;
  color: #666666;
  text-align: center;
}

.flags-left, .flags-right, .flags-center {
  width: 10%;
  position: absolute;
  /* opacity: 0.4; */
}

.flags-right {
  right: 250px;
}

.flags-center {
  left: 280px;
}

.australia-flag {
  margin-left: 190px;
  margin-top: 210px;
  transform: rotate(10deg);
}

.austria-flag {
  margin-left: 40px;
  transform: rotate(-20deg);
}

.cambodia-flag {
  margin-left: 190px;
  transform: rotate(10deg);
  margin-top: 20px;
}

.croatia-flag {
  margin-left: 40px;
  transform: rotate(-20deg);
}

.egypt-flag {
  margin-left: 190px;
  transform: rotate(10deg);
}

.fiji-flag {
  margin-left: 40px;
  margin-top: 200px;
  transform: rotate(-20deg);
}

.japan-flag {
  margin-left: 190px;
  transform: rotate(20deg);
}

.malta-flag {
  margin-left: 40px;
  transform: rotate(-20deg);
}

.morocco-flag {
  margin-left: 190px;
  transform: rotate(20deg);
}

.nz-flag {
  margin-left: 40px;
  transform: rotate(-20deg);
  margin-top: 20px;
}

.portugal-flag {
  margin-left: 190px;
  margin-top: 180px;
  transform: rotate(-10deg);
}

.switzerland-flag {
  margin-left: 490px;
  margin-top: -135px;
  transform: rotate(10deg);
}

.stars {
  margin-left: 280px;
  margin-top: 480px;
  transform: rotate(15deg) scale(2);
  opacity: 0.1;
  width: 300px;
}

.final {
  font: 60px shadows into light two;
  color: #666666;
  text-transform: uppercase;
  position: absolute;
  left: 440px;
  margin-top: -60px;
}