.container{
  width: 100%;
  margin: 0;
  background-color: white;
}

.navigation-bar{
  background-color: rgba(62, 65, 64, 0.377);
  margin: 0;
}

.navigation-bar ul{
  text-align:right;
  margin: 0;
}

.navigation-bar li{
  display: inline;
  padding-right: 55px;
  word-spacing: 3px;
  font: 25px Shadows into light two;
  color: white;
}

a {
  display: inline-block;
  text-decoration: none;
  color: white;
}

hr{
  height: 5px;
  width: 150px;
  margin: 0;
  margin-left: 845px;
  background: rgb(255, 255, 255);
  border: none;
  transition: .2s ease-in-out;
}

a:hover{
  /*color: #a3a3c2;*/
  font-weight: bold;
}

.countries:hover ~ hr{
  margin-left: 1070px;
}

.gallery:hover ~ hr{
  margin-left: 1280px;
}


.video-background {
    position: relative;
    width: 100%;
    height: 94.8vh; 
    display: flex; 
    align-items: center;
    justify-content: center; 
    overflow: hidden; 
  }
  
  .video-container {
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%;
  }
  
  .colour-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    opacity: 0.3;
    width: 100%; 
    height: 94.8vh; 
  }
  
  .video-background h1 {
    font-size: 4.5rem; 
    font-family: Shadows into light two;
    font-weight: bold;
    color: white;
    text-shadow: 8px 4px rgba(179, 179, 179, 0.4);
    z-index: 1;
    padding: 10px;
    margin: 5px;
    text-transform: uppercase;
    display: flex;
    white-space: nowrap;
    position: relative;
    border: none;
    overflow: hidden; 
    margin: 0 auto;
    animation: typewriter 2500ms steps(20, end) 1 normal; 
  }
  
  @keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 60%;
    }
  }
  
  
  
  
  .blink { 
    
    border-right: 4px solid white;
    position: relative;
    right: -10px;
    animation: blink-effect 1s steps(30, end) infinite;
  }
  
  @keyframes blink-effect {
    0% {
        border-right-color: 4px solid white;
    }
    100% {
        border-right-color: transparent;
    }
  }
  